body {
    font-family: Georgia;
}

header {
    background-color: #005B4F;
    color: white;
    text-align: center;
    font-size: 50%;
    height: 20px;
}

main {
    background-color: #e1e2e1;
    height: 400px;
    padding: 20px;
    overflow: scroll;
}

.zdjecie {
    width: 20%;
    float: left;
}

.opis {
    float: left;
}

.linia {
    clear: both;
}

img {
    padding: 20px;
    border-radius: 100%;
    float: left;
}

.left, .right {
    width: 50%;
    background-color: #005b4f;
    color: white;
    text-align: center;
    height: 20px;
    float: left;
}

h2 {
    text-align: center;
    background-color: #00897b;
}